<h1>Students</h1>
<table>
  <tr>
    <td>Name</td>
    <td>Nickname</td>
    <td>Email</td>
    <td>Image</td>
  </tr>
  <% Student.all.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.nickname %></td>
      <td><%= student.email %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
  <% end %>
</table>

